<div class="twitter-post col-sm-4">
    <div class="twitter-post-head">
        <a href="#" class="twitter-post-item">
            <img src="	https://pbs.twimg.com/profile_images/1356889151967277057/8RDaDxeW_normal.png"
            alt="twitter-post-img"> 
            <span>Sisua_Digital</span>
        </a>
        <div class="published-time">
            <span>2 weeks ago</span>
        </div>
    </div>

    <div class="twitter-post-content">
        <p class="short-content">
            How to make an app with Power Apps? 
            Watch our video (in finnish) which shows 
            just how fast you 
            can make an app: Power Apps is part of 
            Microsoft's Power Platform 
            which includes different low-code tools. 
            Read more on our website:
        </p>
        <a href="#" class="read-more">
            Read More »
        </a>
    </div>
</div>