.featured-work {
    width: 400px;
    height: 400px;
}

a {
    text-decoration: none;
}

img {
    width: 550px;
    height: 400px;
}

.name-featured-work {
    width: 290px;
    height: 50px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 20px;
    position: relative;
    padding-top: 30rem;
}

.readmore {
    width: 250px;
    height: 50px;
    padding-top: 9rem;
    text-align: center;
    color: white;
}

.note {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 180px;
    left: 30px;
    z-index: 2;
}

.featured-work:hover img {
    opacity: 0.8;
}

.featured-work:hover .note {
    opacity: 0.8;
    visibility: visible;
}