.our-work {
    position: relative;
}

.our-work-header {
    text-align: center;
    color: white;
    top: 10%;
}

.header-img img {
    /* max-height: 10rem; */
        
}

.our-work-header{
   position: relative;
}

.text-header {
    position: absolute;
    top: 50%;
    right: 50%;
}