<div class="homepage">
    <div class="homepage-header">
        <h1>
            SISUAL_DIGITAL
        </h1>
        <p class="homepage-text">
            Accelerate your digital 
            transformation with intelligent automation
        </p>
    </div>

    <div class="more-info">
        <h1 class="title">
            Growth and productivity from intelligent automation
        </h1>
        <div class="row growth-productivity">
            <div class="col-sm-4 growth-productivity-section">
                <h3 class="sub-title text-center">RPA AND AI SERVICES THAT BOOST PRODUCTIVITY</h3>
                <div class="bottom-line"></div>
                <p class="more-info-content">
                    We provide digital tools that save 
                    time and remove monotonous routine work, 
                    allowing your employees to focus on more 
                    valuable tasks in your business.
                </p>
                <a href="#"><span class="link-page">OUR SERVICES</span></a>
            </div>

            <div class="col-sm-4 growth-productivity-section">
                <h3 class="sub-title text-center">AUTOMATION SOLUTIONS FOR DIFFERENT INDUSTRIES</h3>
                <div class="bottom-line"></div>
                <p class="more-info-content">
                    Digitalizing business processes creates 
                    numerous benefits for companies’ from 
                    different sectors or within their key functions.
                </p>
                <a href="#"><span class="link-page">INDUSTRY SOLUTIONS</span></a>
            </div>

            <div class="col-sm-4 growth-productivity-section">
                <h3 class="sub-title text-center">PIONEERS OF BUSINESS PROCESS AUTOMATION
                </h3>
                <div class="bottom-line"></div>
                <p class="more-info-content">
                    Solving our customers’ business 
                    challenges with automation solutions 
                    has been our uncompromised principle since 2014. 
                </p>
                <a href="#"><span class="link-page">OUR STORY</span></a>
            </div>
        </div>
    </div>

    <div class="free-consultation">
        <h1 class="title">
            Book a free consultation with us
        </h1>
        <p class="homepage-text">
            Want to know how intelligent automation 
            could benefit your company? Tell us about 
            your automation needs <br>
            and let’s find the 
            right solution for your company together.
        </p>
        <button class="btn">BOOK HERE</button>
    </div>

    <div class="automation">
        <h1 class="title green-color">
            Automation services that create competitive advantage
        </h1>
        <p class="homepage-text" style="color: black;">
            We help our customers develop their business 
            and processes – by making work more productive, 
            efficient and reliable through Robotic <br>
            Process Automation (RPA) and Artificial Intelligence (AI). 
        </p>
        <div class="row automation-parts">
            <div class="col-sm-4">
                <img src="https://sisuadigital.com/wp-content/uploads/2021/04/making-decisions.svg" 
                alt="">
                <h3 class="subtitle">
                    Advisory
                </h3>
                <p class="text">
                    We help discovering automation potential 
                    and its strategic and operational value 
                    to your business.
                </p>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>