<!-- <app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
 -->
<!-- <p>
</p>
<app-form></app-form> -->
<!-- <button (click)="print()"> Hello </button>
<p> {{text1}} </p>
<app-button></app-button> -->
<!-- <app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

<!-- <app-form></app-form> -->

<!-- <app-test></app-test> -->

<app-exel-test></app-exel-test>

<!-- <button type="button" (click)="navigation('contact')">Click me</button> -->
<!-- <router-outlet></router-outlet> -->